/* ========================================================================== */
/* ARQUIVO DE ESTILOS GERAIS QUE SE REPLICAM POR TODO O WEBSITE.                                                                     */
/* ========================================================================== */

/* MENU */
.header {
    position: fixed;
    top: 20px;
    left: 50%;
    width: calc(100% - 40px);
    transform: translateX(-50%);
    z-index: 9999;
}

.navbar {
    background: #ffffff;
    padding: 18px 40px;
    border-radius: 40px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.15);
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.navbar__logo img {
    height: 45px;
}
.navbar__menu {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar__menu a {
    text-decoration: none;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    transition: color .2s;
}

.navbar__menu a:hover {
    color: #222;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.arrow {
    font-size: 12px;
    opacity: .6;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 35px;
    left: 0;

    min-width: 240px;
    padding: 10px 0;
    margin: 0;

    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 20;
}

.dropdown-menu li a {
    display: block;
    padding: 12px 20px;
    color: #444;
    font-size: 15px;
}

.dropdown-menu li a:hover {
    background: #f5f5f5;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* SOCIAL */
.navbar__social {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__social .icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    opacity: .45;
    transition: opacity .2s, transform .2s;
}

.navbar__social .icon:hover {
    opacity: 1;
    transform: translateY(-1px);
}




















.footer {
    background: #111;
    padding: 70px 20px;

    text-align: center;
    color: #ccc;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* SOCIAL */

.footer-social {
    margin-bottom: 25px;

    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-social img {
    width: 26px;
    height: 26px;
    opacity: .85;
    transition: .2s ease;
}

.footer-social img:hover {
    opacity: 1;
}

/* TEXT */

.footer-text {
    margin-bottom: 20px;

    font-size: .95rem;
    line-height: 1.6;
    color: #ccc;
}

.footer-text a {
    color: #ccc;
    text-decoration: underline;
    transition: .2s ease;
}

.footer-text a:hover {
    color: #fff;
}

/* LINKS */

.footer-links {
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links a {
    font-size: .9rem;
    font-weight: 500;
    color: #ccc;

    text-decoration: underline;
    transition: .2s ease;
}

.footer-links a:hover {
    color: #fff;
}

/* COPYRIGHT */

.footer-copy {
    font-size: .85rem;
    color: #888;
}